.custom-abc {
 background-color:pink
}
.sanity-check {
 width:400px
}
.allClasses {
 margin-left:15px;
 align-content:center;
 padding:10px
}
.result {
 padding:5px;
 border-radius:3px
}
.method {
 color:green;
 border:1px solid rgba(255,99,132,.2);
 padding:2px
}
.result {
 margin-top: 5px;
  margin-bottom: 5px;
 background-color:rgba(54,162,235,.5);
}
.row {
 display:flex;
 flex-wrap:wrap;
 margin-right:-15px;
 margin-left:-15px
}
.list-inline-item {
 display:inline-block
}
.list-inline-item:not(:last-child) {
 margin-right:.5rem
}
.col {
 flex-basis:0;
 -ms-flex-positive:1;
 flex-grow:1;
 min-width:0;
 max-width:100%
}
.page-container:last-child {
 max-width:1280px;
 margin-left:auto;
 margin-right:auto;
 padding-top:20px;
 padding-bottom:20px;
 position:relative;
 z-index:2;
 padding:10px 20px
}
